html {scroll-behavior: smooth;}
body {background:#3F4352; margin:0; padding:0; color:#FF0;}
header {width:100%; height:100px; position:fixed; top:0; background:#120900; border-bottom:solid 2px #FF0; z-index:99;}/* background:#646686; */
#m_logo {margin:10px 0;}
menu {float:right;  margin:53px 0 10px 10px; }
menu li {float:left; margin:10px;  list-style-type:none;}
menu li:hover {}
menu a {color:#FF0; text-decoration:none; padding: 12px 2px; transition: 0.5s ease;  border-bottom: 3px solid #4D4843;}
menu a:hover { border-bottom: 3px solid #FF0; padding: 2px; }
.modal-title{color:#777;}
input {color:#000;}
.container h2{width:100%;  border-bottom:solid 1px #FF0;}
.container p{padding:5px 30px 0px; text-indent: 10px;}

* {box-sizing: border-box}

/* Tab Menu (Projetos) */
.tab {float: left; border: 1px solid #ccc; background-color: #f1f1f1; width: 30%; height: 400px; margin-bottom: 50px;}
.tab button { display: block; background-color: inherit; color: black; padding: 12px 16px; width: 100%; border: none; outline: none; text-align: left; cursor: pointer; transition: 0.3s; }
.tab button:hover { background-color: #ddd; }
.tab button.active { background-color: #ccc; }
.tabcontent { float: left; padding: 0px 12px; border: 1px solid #ccc; width: 70%; border-left: none; height: 400px; margin-bottom: 50px; }
			
@media screen and (max-width: 767px) {
   .photo li:nth-child(n+7) {display: none;}
   menu {margin: 0px 10px;}
   menu li {float: none; margin: 0px;}
   menu a {Border: none; transition-property: none;}
   menu a:hover {Border: none;}
}

@media screen and (max-width: 768px) {
  ul.photo li a { margin-left: 0;}
}

/* -- Album Fotos -- */
ul.photo li { display: inline; }
ul.photo a { background: #fff; display: inline; filter:grayscale(30%); float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; font-family: 'Nothing You Could Do';font-size: 22px; font-weight: bold; text-decoration: none; color: #333; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
ul.photo li { padding-left: 0;}
/* Content */
ul.photo img { display: block; width: 190px; height: 190px; object-fit: cover; margin-bottom: 12px; }
ul.photo a:after { content: attr(title); }
ul.photo li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
ul.photo li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
ul.photo li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
ul.photo li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
ul.photo li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }
ul.photo li.messy a { margin-top: -400px; position: relative; left: 160px; }
ul.photo li a:hover {filter: grayscale(0); -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }






